<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="com.redhat.gpte">
  <resources>
    <resource-root path="gpte-domain-1.0.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
    <module name="javax.annotation.api" export="true" />
    <module name="org.jboss.log4j.logmanager"/>
    <module name="org.apache.camel.component.bindy" export="true" />

  </dependencies>
</module>
