
rule "${headers.ruleName}_with_8_courses"
when
    $student:Student()
    $cc1:CourseCompletion(name == "${headers.course1}")
    $cc2:CourseCompletion(this != $cc1, name == "${headers.course2}")
    $cc3:CourseCompletion(this != $cc1, this != $cc2, name == "${headers.course3}")
    $cc4:CourseCompletion(this != $cc1, this != $cc2, this != $cc3, name == "${headers.course4}")
    $cc5:CourseCompletion(this != $cc1, this != $cc2, this != $cc3, this != $cc4, name == "${headers.course5}")
    $cc6:CourseCompletion(this != $cc1, this != $cc2, this != $cc3, this != $cc4, this != $cc5, name == "${headers.course6}")
    $cc7:CourseCompletion(this != $cc1, this != $cc2, this != $cc3, this != $cc4, this != $cc5, this != $cc6, name == "${headers.course7}")
    $cc8:CourseCompletion(this != $cc1, this != $cc2, this != $cc3, this != $cc4, this != $cc5, this != $cc6, this != $cc7, name == "${headers.course8}")
    eval(DroolsCommandHelper.isLatestCourseCompletionWithinDates(false, "${headers.beginDate}", "${headers.endDate}", $cc1, $cc2, $cc3, $cc4, $cc5, $cc6, $cc7, $cc8 ))
then
    CourseCompletion latestCC = DroolsCommandHelper.determineMostRecentCourseCompletion(false, $cc1, $cc2, $cc3, $cc4, $cc5, $cc6, $cc7, $cc8 );

    Accreditation accreditation = new Accreditation();
    accreditation.setName("${headers.accredName}");
    accreditation.setStudentId($student.getStudentid());
    accreditation.setEmail($student.getEmail());
    accreditation.setCourseId(latestCC.getCourseId());
    accreditation.setCourseName(latestCC.getName());
    accreditation.setCompletionDate(latestCC.getCompletionDate());
    accreditation.setAccreditationType("Active");
    accreditation.setRuleFired(drools.getRule().getName());

    accreditationList.add(accreditation);
    System.out.println("   [ "+ $student.getEmail()+" : Fired: " + drools.getRule().getName() + " ]");
end
