
rule "${headers.ruleName}_with_4_courses"
when
    $student:Student()
    $cc1:CourseCompletion(courseName == "${headers.course1}")
    $cc2:CourseCompletion(this != $cc1, courseName == "${headers.course2}")
    $cc3:CourseCompletion(this != $cc1, this != $cc2, courseName == "${headers.course3}")
    $cc4:CourseCompletion(this != $cc1, this != $cc2, this != $cc3, courseName == "${headers.course4}")
    eval(DroolsCommandHelper.isLatestCourseCompletionWithinDates(false, "${headers.beginDate}", "${headers.endDate}", $cc1, $cc2, $cc3, $cc4 ))
then
    CourseCompletion latestCC = DroolsCommandHelper.determineMostRecentCourseCompletion(false, $cc1, $cc2, $cc3, $cc4 );

    Accreditation accreditation = new Accreditation();
    accreditation.setAccreditationName("${headers.accredName}");
    accreditation.setStudentId($student.getStudentid());
    accreditation.setEmail($student.getEmail());
    accreditation.setCourseId(latestCC.getCourseId());
    accreditation.setCourseName(latestCC.getCourseName());
    accreditation.setAccreditationDate(latestCC.getAssessmentDate());
    accreditation.setAccreditationType("Active");

    accreditationList.add(accreditation);
    System.out.println("   [ "+ $student.getEmail()+" : Fired: " + drools.getRule().getName() + " ]");
end
