Hello, 

We noticed that you have earned a new qualification ${headers.qualification}, congratulations! 
When we attempted to add your accomplishment to your profile in Skills Base, we noticed that you have not yet logged in.
Please take a moment to log in to create your profile. 
Your Kerberos credentials should do the trick!

http://app.skills-base.com/o/redhat

If you run into issues, please contact internal-enablement@redhat.com.

Thanks,

Red Hat Skills Exchange Team
