---
swagger: "2.0"
info:
  description: "The RESTful API for the Red Hat GPTE Reporting project. <br>Note that your client will need to participate in two-way mutual TLS authentication as described in the following:  <a href=\"https://reporting.opentlc.com/swagger/gpte-reporting-mutual-auth.html\">GPTE Reporting Mutual Auth.</a> "
  version: "1.0.0"
  title: "RHT GPTE Reporting RESTful API"
host: reporting.opentlc.com
basePath: /gpte-reporting/rest/
schemes:
- "https"
produces:
- "application/json"
paths:
  /sanityCheck:
    get:
      tags:
      - "Sanity Check"
      description: "Simple test to validate connectivity with GPTE Reporting.
        <BR>
        <BLOCKQUOTE>
            <B>Example:</B><br>
            curl -v -k &#092;<br>
            &#160;--cert /etc/gpte/certs/prod_gpteclient.pem &#092;<br>
            &#160;--key /etc/gpte/certs/prod_gpteclient.key  &#092;<br>
            &#160;-X GET https://reporting.opentlc.com/gpte-reporting/rest/sanityCheck/
        </BLOCKQUOTE>
                   "
      operationId: "sanityCheck"
      parameters: []
      produces:
      - "text/plain"
      responses:
        200:
          description: "Good to go!"
          examples:
            text/plain: 
              Red Hat GPTE
        404:
          description: "Resource not found"
  /courses/{courseName}:
    get:
      summary: Validate existance of RHT GPTE Canonical course name.
      operationId: "validateByCourseName"
      tags:
        - "Canonical Course Name"
      parameters:
        - name: courseName
          in: path
          required: true
          description: "The name of the GPTE Canonical Course name (all white spaces will be need to be escaped with: %20"
          type: string
      responses:
        200:
          description: "Expected response to a valid request"
          schema:
            $ref: '#/definitions/Course'
        404:
          description: "Resource not found"
definitions:
  Course:
    required:
      - courseid
      - coursename
    properties:
      courseid:
        type: string
      coursename:
        type: string
