Hello.

The following problem occurred while processing your student registration attachment:

${body} 

Please investigate the problem and re-submit.

Thanks,

Red Hat Global Partner & Technical Enablement team
