<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- 
    Default local maven repository is ~/.m2/repository
    Its recommended that student's use a fresh local maven repository.
    If you want to start and use a different local maven repository than your default, then uncomment and modifiy this next line -->
  <localRepository>/opt/maven/supportedrepo</localRepository>

  <!-- Server login to upload to fabric.>
     <servers>
         <server>
             <id>fabric8.upload.repo</id>
             <username>admin</username>
             <password>admin</password>
         </server>
     </servers -->
  
  <profiles>
    <profile>
            <id>tech-preview-all</id>
            <repositories>
                <repository>
                    <id>tech-preview-all</id>
                    <name>Red Hat Tech Preview repository (all)</name>
                    <url>http://maven.repository.redhat.com/techpreview/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>tech-preview-all</id>
                    <name>Red Hat Tech Preview repository (all)</name>
                    <url>http://maven.repository.redhat.com/techpreview/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
    </profile>

    <profile>
            <id>early-access-all</id>
            <repositories>
                <repository>
                    <id>early-access-all</id>
                    <name>Red Hat Early Access repository (all)</name>
                    <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>early-access-all</id>
                    <name>Red Hat Early Acccess repository (all)</name>
                    <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
    </profile>

    <profile>
            <id>origin-repo</id>
            <repositories>
                <repository>
                    <id>origin-repo</id>
                    <name>Red Hat Early Access repository (all)</name>
                    <url>https://origin-repository.jboss.org/nexus/content/groups/ea/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>origin-repo</id>
                    <name>Red Hat Early Acccess repository (all)</name>
                    <url>https://origin-repository.jboss.org/nexus/content/groups/ea/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>tech-preview-all</activeProfile>
    <activeProfile>early-access-all</activeProfile>
    <activeProfile>origin-repo</activeProfile>
  </activeProfiles>

</settings>
