Hello.

The following problem occurred while processing your email with attachment:

${body} 

Please investigate the problem and re-submit.

Thanks,

Red Hat Global Partner & Technical Enablement team
